**/*.svg
**/*.webp
**/*.csv
.dingpushrc
package.json
.umi
.umi-production
dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
*.mp4
.node
OWNERS
*.zip
.env
